/* feature film 영역 */
.feature .inWrap {
  position: relative;
}

.feature .fInner {
  margin: 0 auto;
  width: 75%;
  overflow: hidden;
}

.feature li {
  float: left;
  width: 300px;
  height: 300px;
  margin-bottom: 1em;
  list-style: none;
}

.feature li a {
  position: relative;
  display: block;
  background: red;
  height: 100%;
  margin: 0 3%;
  box-shadow: 2px 2px 5px #000;
  text-align: center;
}
.feature li span {
  display: block;
  position: absolute;
  bottom: -3em;
  width: 100%;
  color: #333;
  font-size: 1em;
  font-weight: 400;
}

.feature li:nth-child(1) a {
  background: url(../images/introduce_bottom01.jpg) center center no-repeat;
  background-size: cover;
}
.feature li:nth-child(2) a {
  background: url(../images/introduce_bottom02.jpg) center center no-repeat;
  background-size: cover;
}
.feature li:nth-child(3) a {
  background: url(../images/introduce_bottom03.jpg) center center no-repeat;
  background-size: cover;
}
.feature li:nth-child(4) a {
  background: url(../images/introduce_bottom04.jpg) center center no-repeat;
  background-size: cover;
}
.feature li:nth-child(5) a {
  background: url(../images/introduce_bottom05.jpg) center center no-repeat;
  background-size: cover;
}
.feature li:nth-child(6) a {
  background: url(../images/introduce_bottom06.jpg) center center no-repeat;
  background-size: cover;
}
.feature li:nth-child(7) a {
  background: url(../images/introduce_bottom07.jpg) center center no-repeat;
  background-size: cover;
}

.feature .swiper-pagination {
  position: relative;
  margin-top: 30px;
}
.feature .swiper-pagination-progress .swiper-pagination-progressbar {
  background: #fdc008;
}

.feature .button div {
  position: absolute;
  width: 60px;
  height: 60px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  top: 35%;
  box-shadow: 2px 2px 5px #000;
  transition: all 0.2s;
}
.feature .button div:active {
  transform: translate(2px, 2px);
}
.feature .button a {
  display: block;
  height: 100%;
}
.feature .button i {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fdc008;
  font-size: 60px;
}

.feature .back a {
  background: url(../images/back.svg) center center no-repeat;
  background-size: 30px 30px;
  text-indent: -999px;
  overflow: hidden;
}

.feature .next a {
  background: url(../images/next.svg) center center no-repeat;
  background-size: 30px 30px;
  text-indent: -999px;
  overflow: hidden;
}

.feature .back {
  left: 1%;
}
.feature .next {
  right: 1%;
}

/* 일반 pc */
@media screen and (max-width: 1280px) {
}

/* 테블릿 */
@media screen and (max-width: 1024px) {
}

/* 소형 테블릿 */
@media screen and (max-width: 768px) {
  .feature .button div {
    width: 40px;
    height: 40px;
  }
  .feature .button div a {
    background-size: 20px 20px;
  }
}

/* 모바일 */
@media screen and (max-width: 640px) {
}

/* 소형 모바일 */
@media screen and (max-width: 480px) {
  .feature .fInner {
    width: 95%;
  }
  .feature li span {
    font-size: 1.1667em;
  }
  .feature .button {
    display: none;
  }
}

/* 최소 사이즈 처리 */
@media screen and (max-width: 480px) {
}
